section.repository-list {
  margin: 40px;
  h1 {
    margin-bottom: 16px;
  }
  ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    li {
      border-radius: 8px;
      border: 1px solid #e1e1e1;
      padding: 1rem;
    }

    p {
      font-size: 14px;
      color: #444;
      margin-top: 8px;
    }
    a {
      color: #8257e6;
      display: inline-block;
      text-decoration: none;
    }
  }
}
